.header-bg {
    background-color: black;
}

.header-color {
    color: white !important;
    border-radius: 4px;

}

.header-color :hover {
    color: black !important;
    border: 1px solid red;
    background-color: red;
}

.navbar-toggler-1 {
    border: 2px solid red !important;
}

.center {
    text-align: center !important;
}

.jumbo-color {
    background-color: violet;
}

.content-2-bg {
    border: 1px solid black;
}

.footer-bg {
    background-color: red;
}