.content1-bg {
    background-color: rgb(255, 214, 0);
}


.content1-img {

    width: 500px;
    height: 300px;
}

.content1-hr {
    border-radius: 4px;
    border: 2px solid blue;
    width: 50px;
}

.content1-flag {
    width: 400px;
    height: 100px;
}

.content1-btn {
    border: 3px solid;
    font-weight: 700;
}


.content2-btn {
    width: 60%;
    border: none;
    background-color: rgb(255, 214, 0);
    box-shadow: 1px -6px 38px 11px rgba(186, 186, 186, 1);
}

.content2-btn :hover {
    box-shadow: none;
}

.flag {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.flag-ml {
    margin-left: 200px;
}

.flag :hover {
    border: 3px solid blue;
}

.icon-lg {
    width: 300px;
    height: 300px;
}

.media-logo {
    margin: 15px;
    padding: 5px;
    border: 1px solid black;
    width: 150px;
    height: 50px;
}

.content1-hr2 {
    border-radius: 4px;
    border: 2px solid #14cdf9;
    width: 70px;
}

.font-weight {
    font-weight: 1000;
}

.img-saldo {
    width: 500px;
    height: 300px;
}